<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%-5level %logger{15}.%M %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<!-- Pour avoir les req sql envoyé à la BD -->
	<logger name="org.hibernate.SQL" level="DEBUG"/>
	
	<!-- Pour afficher les valeur dans les ? -->
	<logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE"/>
	
	<!-- Trace specific -->
	<logger name="com.hibernate4all.tutorial.repository.MovieRepository" level="TRACE"/>
	
	<!-- Pour voir les transaction overte/fermée -->
	<!-- logger name="org.springframework.orm.jpa.JpaTransactionManager" level="DEBUG"/ -->
	
	<!-- Ouverture/fermeture de session -->
	<!-- logger name="org.hibernate.internal.SessionImpl" level="TRACE"/ -->
	
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>